
header {
	padding-top: 20px;
	padding-left: 62px;
	color: #747474;
}
#email {
	display: inline-flex;
	float: right;
	padding-top: 120px;
	padding-right: 62px;
}

body{
	min-width: 400px;
	max-width: 1024px;
	font-family: 'PT Sans', sans-serif;
	color: #747474;
	margin: auto;

    padding: 10px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.banner{
	padding-left: 62px;
	
}

nav {
    float: right;
    padding-right: 50px;
    display: inline-block;
	width: 100%;

}

nav ul{
    list-style-type: none;
    margin: 5px;
    text-align: right;
}

nav ul li{
	
	display: inline-block;
	width: 10%;
	padding-left: 5px;
	text-align: center;

}

nav ul li a{
	    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

main{
	height: auto;
	display: inline-block;
	margin: auto;
}

.gallery{
	max-width: 1024;
    margin: auto;

}

.bio{
	margin: auto;
	padding-top: 30px;
	padding-bottom: 50px;
	max-width: 900px;
}
aside{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #242424;
}

article{
	width: 70%;
	display: inline-block;
	float: right;
	padding-bottom: 10px;

}


/*contact form*/

#page-wrap {
	width: 660px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 400px;
	height: auto !important;
	height: 400px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #000;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1em;
}

/*end contact form*/


footer{
	margin: auto;
	border-top: 1px solid #d3cabf;
	max-width: 600px;
	text-align: center;

}

footer ul{
	list-style-type: none;
    padding: 0px;
	display: inline-block;
	width:160px;
	text-align: center;
}

footer ul li:nth-child(1){
	color: #242424;
}